.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d8aaf8;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #d8aaf8;
}
.nav-link {
  padding: 0.9rem 1.2rem;
}
.nav-btn {
  font-family: allround-Font !important;
  color: white;
  border-color: #d8aaf8;
  border-radius: 8px;
  border-width: 2px;
  padding: 6px 22px;
}
.nav-btn:hover {
  color: white;
  border-color: #d8aaf8;
  background-color: #d8aaf8;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media only screen 
and (min-device-width: 1310px) 
and (max-device-width: 1450px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media only screen 
and (min-device-width: 1451px) 
and (max-device-width: 1600px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}
@media only screen 
and (min-device-width: 1601px) 
and (max-device-width: 1700px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
@media only screen 
and (min-device-width: 1701px) 
and (max-device-width: 1800px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media only screen 
and (min-device-width: 1250px) 
and (max-device-width: 1309px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}