@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css";
@font-face {
  font-family: allround-Font;
  src: url(../assets/fonts/All-Round-Gothic-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Hind Vadodara", sans-serif;
  color: white;
  background-color: #000000;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  width: 100%;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: allround-Font !important;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.main-color {
  color: #d8aaf8;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn-outline-success:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-outline-primary:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-outline-danger:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.h-full {
  height: 100vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #d8aaf8;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #d8aaf8;
}

.nav-link {
  padding: 0.9rem 1.2rem;
}

.nav-btn {
  font-family: allround-Font !important;
  color: white;
  border-color: #d8aaf8;
  border-radius: 8px;
  border-width: 2px;
  padding: 6px 22px;
}

.nav-btn:hover {
  color: white;
  border-color: #d8aaf8;
  background-color: #d8aaf8;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media only screen and (min-device-width: 1310px) and (max-device-width: 1450px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media only screen and (min-device-width: 1451px) and (max-device-width: 1600px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}
@media only screen and (min-device-width: 1601px) and (max-device-width: 1700px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
@media only screen and (min-device-width: 1701px) and (max-device-width: 1800px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media only screen and (min-device-width: 1250px) and (max-device-width: 1309px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
.social-div {
  position: fixed;
  right: 50px;
  top: 30%;
  z-index: 999;
  background: linear-gradient(113.32deg, rgba(248, 237, 255, 0.15) 0%, rgba(248, 237, 255, 0.02) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
}

.social-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8edff), color-stop(81.38%, rgba(248, 237, 255, 0))) border-box;
  background: linear-gradient(180deg, #f8edff 0%, rgba(248, 237, 255, 0) 81.38%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  /* padding: 30px; */
}

.social-div ul {
  list-style: none;
}

.row-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.row-div > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.row-div > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.row-div > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.row-div > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.content-div {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 2;
  margin-top: -3rem !important;
}

.modal-div {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-top: 3rem;
}

.main-heading {
  font-size: 93px;
  line-height: 80px;
}

.sub-heading {
  font-size: 23px;
  font-weight: 600;
}

.hero-p {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
}

.hero-btn {
  font-family: allround-Font !important;
  color: white;
  font-size: 14px;
  border-color: #d8aaf8;
  border-radius: 8px;
  border-width: 2px;
  padding: 6px 22px;
}
.hero-btn:hover {
  color: white;
  border-color: #d8aaf8;
  background-color: #d8aaf8;
}

@media only screen and (min-width: 1601px) {
  .hero-mar {
    max-width: 1500px !important;
  }
}
@media only screen and (min-device-width: 1501px) and (max-device-width: 1600px) {
  .hero-mar {
    max-width: 1390px !important;
  }
}
@media only screen and (max-width: 600px) {
  .content-div {
    -ms-grid-column-span: 5 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
  }

  .modal-div {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }

  .main-heading {
    font-size: 55px;
    line-height: 80px;
  }

  .set-sec {
    margin-top: 150px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content-div {
    -ms-grid-column-span: 5 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
  }

  .modal-div {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }

  .set-sec {
    margin-top: 150px !important;
  }
}
.why-txt {
  padding-top: 6rem;
}

.why-txt h1 {
  color: #ffffff;
  font-family: "AllRoundGothicW01-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.why-txt p {
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-right: 145px;
}

.set-mr {
  margin-left: -50px;
  margin-top: 270px;
}

@media only screen and (max-width: 600px) {
  .why-txt p {
    color: #ffffff;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .why-txt p {
    color: #ffffff;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 1310px) and (max-device-width: 1450px) {
  .why-txt p {
    padding-right: 0px;
  }
}
@media only screen and (min-device-width: 1451px) and (max-device-width: 1600px) {
  .why-txt p {
    color: #ffffff;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right: 55px;
  }
}
.slider-div h1 {
  font-family: "Hind Vadodara" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
.slider-div p {
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  padding-right: 170px;
}

.plat-p {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-right: 150px !important;
}

@media only screen and (min-width: 1601px) {
  .pl-mar {
    max-width: 1700px !important;
    margin-left: 35px;
  }
}
.content-pl {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 2;
  margin-top: -3rem !important;
}

.modal-pl {
  margin-left: 160px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .pl-heading {
    font-size: 45px !important;
  }

  .modal-pl {
    margin-left: 0px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }

  .slider-div {
    margin-left: 30px;
    margin-top: 80px;
  }
  .slider-div p {
    padding-right: 0px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 375px) {
  .content-pl {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 2;
    margin-top: 5rem !important;
  }

  .modal-pl {
    margin-left: 0px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    z-index: 1;
    padding-top: 0rem;
  }

  .plat-p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal-pl {
    margin-left: 0px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }

  .slider-div {
    margin-top: 80px;
  }
}
@media only screen and (min-device-width: 1310px) and (max-device-width: 1450px) {
  .modal-pl {
    margin-left: 230px;
  }

  .slider-div p {
    padding-right: 0px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-right: 0px !important;
  }
}
@media only screen and (min-device-width: 1451px) and (max-device-width: 1600px) {
  .slider-div p {
    padding-right: 0px;
  }
}
.fillbar {
  position: relative;
  display: block;
  width: 100%;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  border-left-color: #D8AAF8;
  border-right-color: #D8AAF8;
  background: -webkit-gradient(linear, left top, right top, from(#D8AAF8), to(#D8AAF8));
  background: linear-gradient(to right, #D8AAF8 0%, #D8AAF8 100%);
}
.fillbar:after {
  position: absolute;
  right: 0;
  top: 0px;
  display: block;
  content: "";
  height: 8px;
  width: 40%;
  background: #1e222c;
}

/* feature */
#faqs .qa-pairs dl {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#faqs .qa-pairs dl > * {
  font-family: "Hind Vadodara", sans-serif !important;
  font-size: 18px;
  border-radius: 10px;
}

#faqs .qa-pairs dt {
  background: #121016;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1;
  line-height: 1.4;
  padding: 22px 24px 12px 24px;
  font-family: allround-Font !important;
  font-size: 36px;
}

#faqs .qa-pairs .faq-toggle {
  /*background: url(http://rephresh.colangelo-sm.com/img/plus-minus.png);*/
  /*background-position: left top;*/
  margin-right: 20px;
  margin-top: 13px;
  position: absolute;
  line-height: 1em;
  text-align: center;
  color: #000000;
  font-weight: 700;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: table;
  cursor: pointer;
}

#faqs .qa-pairs .faq-toggle .circle {
  top: 10px;
  padding: 16px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #9c8dc3;
  border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#faqs .qa-pairs .faq-toggle .minus, #faqs .qa-pairs .faq-toggle .plus {
  display: block;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #9c8dc3;
  left: 44%;
  margin-left: -5px;
  top: 50%;
  margin-top: -1px;
}

#faqs .qa-pairs .faq-toggle .plus {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#faqs .qa-pairs dd {
  padding: 22px 24px 34px 24px;
  margin-top: -10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #121016;
}

#faqs .qa-pairs dl.active .faq-toggle {
  /*background-position: right top;*/
}

#faqs .qa-pairs dl.active .faq-toggle .circle {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#faqs .qa-pairs dl.active .faq-toggle .plus {
  width: 0px;
  -webkit-transition: width transform 0.5s;
  transition: width transform 0.5s;
}

@media (max-width: 767px) {
  #faqs .qa-pairs dl {
    font-size: 1.2em;
  }
}
.token-heading {
  font-family: allround-Font !important;
  font-size: 180px;
}

.token-heading-2 {
  font-family: allround-Font !important;
}

.token-heading-1 {
  font-family: allround-Font !important;
  font-size: 90px;
}

.token-sub {
  font-family: "Hind Vadodara", sans-serif !important;
  color: #D8AAF8;
  font-weight: bold;
  font-size: 24px;
}

.token-body {
  font-family: "Hind Vadodara", sans-serif !important;
  font-size: 18px;
  line-height: 36px;
}

.token-span {
  color: #D8AAF8;
  margin-left: 60px;
}

.token-box {
  background-color: #121016;
  padding: 20px;
}

.token-bar-content {
  padding: 20px;
}

.token-points {
  padding: 80px;
}

.token-points > ul > li {
  font-size: 27px;
  padding: 20px;
  list-style-type: none;
}

.bullet-1::before {
  content: "•";
  color: #5146D1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-2::before {
  content: "•";
  color: #089EF4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-3::before {
  content: "•";
  color: #C056A6;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-4::before {
  content: "•";
  color: #089FF5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-5::before {
  content: "•";
  color: #8300DE;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-6::before {
  content: "•";
  color: #5B50D3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-7::before {
  content: "•";
  color: #C96DB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.dashbord-txt h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
}

.dashbord-txt p {
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding-right: 30px;
}

.dash-div {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 2;
  margin-top: -12rem !important;
}
.dash-div h1 {
  font-size: 50px;
}
.dash-div p {
  line-height: 28px;
  font-size: 14px;
}

.modal-dash {
  margin-left: 200px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .dash-div {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    z-index: 2;
    margin-top: -12rem !important;
  }
  .dash-div h1 {
    font-size: 40px;
  }
  .dash-div p {
    line-height: 28px;
    font-size: 14px;
  }

  .modal-dash {
    margin-left: 0px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 600px) and (max-width: 375px) {
  .dash-div {
    margin-top: 0rem !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .dash-div {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    z-index: 2;
  }

  .modal-dash {
    margin-left: 0px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
.wh-heading {
  font-size: 70px;
}

.sub-whi {
  font-size: 19px;
  font-weight: 600;
}

.white-p {
  font-size: 17px;
  line-height: 30px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.modal-wh {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .wh-heading {
    font-size: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-wh {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 375px) {
  .modal-wh {
    padding-top: 1rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal-wh {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
@media only screen and (min-device-width: 1310px) and (max-device-width: 1450px) {
  .modal-wh {
    margin-left: 80px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    z-index: 1;
    padding-top: 3rem;
  }
}
.team-txt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
}

.team-txt p {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

.lof-bg {
  background-image: url(../assets/team.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 170px;
}

@media only screen and (max-width: 600px) {
  .lof-bg {
    background-image: url() !important;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0px;
  }

  .team-txt p {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .lof-bg {
    background-image: url(../assets/team.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 60px;
  }
}
@media only screen and (min-device-width: 1310px) and (max-device-width: 1450px) {
  .lof-bg {
    background-image: url(../assets/team.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
  }
}
@media only screen and (min-device-width: 1451px) and (max-device-width: 1600px) {
  .lof-bg {
    margin-left: 70px;
  }
}
.store img {
  padding-left: 0;
}

.mr-heading {
  font-size: 65px;
}

.mr-p {
  font-size: 14;
  line-height: 28px;
}

.sub-mr {
  font-size: 18px;
}

.content-merch {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 2;
  margin-top: -3rem !important;
}

.modal-merch {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .content-merch {
    -ms-grid-column-span: 5 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
  }

  .modal-merch {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 375px) {
  .content-merch {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    z-index: 2;
    margin-top: 10rem !important;
  }

  .modal-merch {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }

  .mr-heading {
    font-size: 45px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content-merch {
    -ms-grid-column-span: 5 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
  }

  .modal-merch {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    z-index: 1;
    padding-top: 3rem;
  }
}
.contct-txt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-top: 250px;
}

.contct-txt p {
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.contct-bg {
  background-image: url(../assets/contct.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.field {
  width: 497px;
  height: 52px;
  background-color: #0b0b0b;
  color: #ffffff;
  border: none !important;
  padding: 12px;
  border-radius: 5px;
}

.field:focus {
  border: none !important;
  outline: none !important;
}

.text-area {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none !important;
  padding: 5px;
  border-radius: 5px;
}

.text-area:focus {
  border: none !important;
  outline: none !important;
}

.contact-btn {
  font-family: allround-Font !important;
  color: white;
  font-size: 14px;
  border-color: #d8aaf8;
  border-radius: 8px;
  border-width: 2px;
  padding: 6px 42px;
}
.contact-btn:hover {
  color: white;
  border-color: #d8aaf8;
  background-color: #d8aaf8;
}

@media only screen and (max-width: 600px) {
  .contct-txt h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: 0px;
  }

  .field {
    width: 357px;
    height: 52px;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none !important;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .field1 {
    width: 357px;
    height: 200px;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none !important;
    padding: 12px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .contct-txt {
    margin-top: 20rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .field {
    width: 307px;
    height: 52px;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none !important;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .field1 {
    width: 630px;
    height: 200px;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none !important;
    padding: 12px;
    border-radius: 5px;
  }
}
.fotter-div {
  background-color: #121016;
}

.footer-list li {
  display: inline;
  list-style: none;
}

.footer-list .footer-li .footer-links {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  padding: 8px;
  font-weight: 500;
}

.copy-right {
  font-weight: 500;
}

/* Media querys starts  */
@media only screen and (max-width: 600px) {
  .footer-list .footer-li .footer-links {
    font-size: 10px;
    padding: 5px;
  }

  .copy-right {
    font-size: 10px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer-list .footer-li .footer-links {
    color: white;
    font-family: "Hind Vadodara", sans-serif;
    padding: 8px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 375px) {
  .fotter-div {
    margin-top: 30rem;
  }
}
/* Media querys end  */
.fillbar {
  position: relative;
  display: block;
  width: 100%;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  border-left-color: #D8AAF8;
  border-right-color: #D8AAF8;
  background: -webkit-gradient(linear, left top, right top, from(#D8AAF8), to(#D8AAF8));
  background: linear-gradient(to right, #D8AAF8 0%, #D8AAF8 100%);
}
.fillbar:after {
  position: absolute;
  right: 0;
  top: 0px;
  display: block;
  content: "";
  height: 8px;
  width: 40%;
  background: #1e222c;
}

/* feature */
#faqs .qa-pairs dl {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#faqs .qa-pairs dl > * {
  font-family: "Hind Vadodara", sans-serif !important;
  font-size: 18px;
  border-radius: 10px;
}

#faqs .qa-pairs dt {
  background: #121016;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1;
  line-height: 1.4;
  padding: 22px 24px 12px 24px;
  font-family: allround-Font !important;
  font-size: 36px;
}

#faqs .qa-pairs .faq-toggle {
  /*background: url(http://rephresh.colangelo-sm.com/img/plus-minus.png);*/
  /*background-position: left top;*/
  margin-right: 20px;
  margin-top: 13px;
  position: absolute;
  line-height: 1em;
  text-align: center;
  color: #000000;
  font-weight: 700;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: table;
  cursor: pointer;
}

#faqs .qa-pairs .faq-toggle .circle {
  top: 10px;
  padding: 16px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #9c8dc3;
  border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#faqs .qa-pairs .faq-toggle .minus, #faqs .qa-pairs .faq-toggle .plus {
  display: block;
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #9c8dc3;
  left: 44%;
  margin-left: -5px;
  top: 50%;
  margin-top: -1px;
}

#faqs .qa-pairs .faq-toggle .plus {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#faqs .qa-pairs dd {
  padding: 22px 24px 34px 24px;
  margin-top: -10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #121016;
}

#faqs .qa-pairs dl.active .faq-toggle {
  /*background-position: right top;*/
}

#faqs .qa-pairs dl.active .faq-toggle .circle {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#faqs .qa-pairs dl.active .faq-toggle .plus {
  width: 0px;
  -webkit-transition: width transform 0.5s;
  transition: width transform 0.5s;
}

@media (max-width: 767px) {
  #faqs .qa-pairs dl {
    font-size: 1.2em;
  }
}
.token-heading {
  font-family: allround-Font !important;
  font-size: 180px;
}

.token-heading-2 {
  font-family: allround-Font !important;
}

.token-heading-1 {
  font-family: allround-Font !important;
  font-size: 90px;
}

.token-sub {
  font-family: "Hind Vadodara", sans-serif !important;
  color: #D8AAF8;
  font-weight: bold;
  font-size: 24px;
}

.token-body {
  font-family: "Hind Vadodara", sans-serif !important;
  font-size: 18px;
  line-height: 36px;
}

.token-span {
  color: #D8AAF8;
  margin-left: 60px;
}

.token-box {
  background-color: #121016;
  padding: 20px;
}

.token-bar-content {
  padding: 20px;
}

.token-points {
  padding: 80px;
}

.token-points > ul > li {
  font-size: 27px;
  padding: 20px;
  list-style-type: none;
}

.bullet-1::before {
  content: "•";
  color: #5146D1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-2::before {
  content: "•";
  color: #089EF4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-3::before {
  content: "•";
  color: #C056A6;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-4::before {
  content: "•";
  color: #089FF5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-5::before {
  content: "•";
  color: #8300DE;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-6::before {
  content: "•";
  color: #5B50D3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bullet-7::before {
  content: "•";
  color: #C96DB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.screen {
  width: 273px;
  margin: 50px -3px 0px 1px;
  height: 475px;
  position: absolute;
  overflow: hidden;
  -webkit-transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(10.92deg) skewY(1deg) translate(90px, 120px);
          transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(10.92deg) skewY(1deg) translate(90px, 120px);
  cursor: pointer;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .screen {
    width: 273px;
    margin: 50px -3px 0px 1px;
    height: 475px;
    -webkit-transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(10.92deg) skewY(1deg) translate(205px, 163px);
            transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(10.92deg) skewY(1deg) translate(205px, 163px);
  }
}
.slider {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.slider:hover {
  opacity: 1;
}

.slick-list,
.slick-track,
.slide {
  height: 100%;
  position: relative;
}

.slide {
  opacity: 0;
  -webkit-transition: opacity 0.4s 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.4s 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s 0.4s linear;
  transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  background-size: cover;
  background-position: center;
}

.slick-current {
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: opacity 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s linear;
  transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s linear, -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
}

.set-mockup {
  position: relative;
  left: -6%;
}

.mockup {
  top: 50%;
  left: 50%;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .mockup {
    width: 750px;
  }
}
.mockup img {
  width: 100%;
}

.slider-img {
  background-image: url(../assets/smoke.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 110%;
  overflow: visible;
}

.pl-modal-div {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  padding-left: 50px;
}

.icon-text {
  margin: 0px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Hind Vadodara", sans-serif !important;
  font-weight: 900;
}

.pl-p {
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.pl-heading {
  font-size: 55px;
}