.fillbar {
  position: relative;
  display: block;
  width: 250px;
  height: 8px;
  border: 1px solid #45abc9;
  border-radius: 2px;
  border-left-color: #3791bd;
  border-right-color: #6af2fa;
  background: -webkit-gradient(linear, left top, right top, from(#2a7bae), to(#6af2fa));
  background: linear-gradient(to right, #2a7bae 0%, #6af2fa 100%);
}
.fillbar:after {
  position: absolute;
  right: 0;
  top: 0px;
  display: block;
  content: "";
  height: 8px;
  width: 25%;
  background: #1e222c;
}